@import '~@angular/material/theming';

@mixin navtabs-component-theme($thehotel) {

    $primary: map-get($thehotel, primary);
    $accent: map-get($thehotel, accent);
  
    // Put all your theming styles here
    .navtabs-container {
      background-color: mat-color($thehotel-primary, 500);
    }
  }